* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #fcf6f5ff;
  --secondary-color: #2e3192;
  --main-font: "Montserrat", sans-serif;
}
body {
  font-family: var(--main-font);
  background-color: var(--main-color);
  /* height: 1000vh; */
}
#header {
  position: sticky;
  top: 0px;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.158);
  height: 70px;
}
/*Navbar Logo and Text-------------------------------------------------------------------------------*/
#navbar__container {
  width: 100%;
  height: 70px;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
}
.navbar__logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__logo__image {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.navbar__logo__text {
  display: none;
}

/*Navbar List Items*/
.navbar__list {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  margin-right: 10px;
}
.navbar__list__items {
  list-style: none;
}
.navbar__list__items a {
  font-size: 0.7rem;
  font-weight: 800;
  text-decoration: none;
  padding: 5px 7px;
  color: var(--secondary-color);
}
.navbar__cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__cart img {
  width: 15px;
  height: 15px;
}

/*main section ------------------------------------------------------------------------*/
.main__container {
  width: 100%;
  display: flex;
  margin-top: 15px;
  flex-direction: column;
}
.cakes__type__list {
  width: 95%;
  margin: auto;
  display: flex;
  padding: 10px;
  background-image: linear-gradient(
    45deg,
    rgba(238, 130, 238, 0.397),
    rgba(255, 0, 0, 0.315)
  );
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
}
.cake__types {
  text-align: center;
}
.cake__types a {
  text-decoration: none;
  color: var(--secondary-color);
}
.cake__types h1 {
  font-size: 0.8rem;
  color: var(--secondary-color);
}
.cake__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.cake__main__content {
  height: 50vh;
  width: 95%;
  margin: auto;
  padding: 10px;
  position: relative;
  margin-top: 1.5rem;
  z-index: 10;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__content__heading {
  color: white;
  font-size: 2rem;
  margin-bottom: 10px;
  background: -webkit-linear-gradient(45deg, rgb(255, 208, 0), rgb(68, 218, 9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main__content__para {
  color: white;
  font-weight: bold;
  /* position: relative;
  top: -4rem; */
  line-height: 2;
}
.main__content__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10%;
}
.main__content__button p {
  color: white;
  /* font-weight: 800; */
  margin-left: 3px;
}
.main__button {
  border: none;
}
.main__button a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
  background-image: linear-gradient(45deg, rgb(255, 208, 0), rgb(68, 218, 9));
  padding: 5px 7px;
  border-radius: 5px;
}
.cake__main__content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-image: url(./Assets/main-back.jfif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(40%);
  z-index: -1;
  border-radius: 5px;
}

/* Main cakes section----------------------------------------------------------------------------- */

#main__birthday__cake {
  width: 95%;
  margin: auto;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
}
.cake__heading {
  text-align: center;
}
.cake__container {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
}
.cake__card {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  background-image: linear-gradient(
    45deg,
    rgba(238, 130, 238, 0.397),
    rgba(255, 0, 0, 0.315)
  );
  border-radius: 5px;
}
.card__image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  /* border: 1px solid red; */
}
.card__image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.card__content {
  /* border: 1px solid black; */
  width: 100%;
  height: 100px;
  flex-basis: 250px;
  margin-left: 5px;
  position: relative;
}
.cake__stars {
  font-size: 0.6rem;
  font-weight: bold;
  color: red;
}
.cake__name {
  font-size: 17px;
  font-weight: normal;
}
.cake__buy {
  /* border: 1px solid red; */
  width: 140px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.cake__buying__button {
  padding: 5px 7px;
  font-size: 0.7rem;
  background-image: linear-gradient(45deg, rgb(240, 187, 89), rgb(250, 163, 2));
  color: black;
  border: none;
  /* border: 0.1px solid white; */
  border-radius: 90px;
}
