* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #fcf6f5ff;
  --secondary-color: #2e3192;
  --main-font: "Montserrat", sans-serif;
}
body {
  font-family: var(--main-font);
  background-color: var(--main-color);
  /* height: 1000vh; */
}
#header {
  position: sticky;
  top: 0px;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.158);

  height: 70px;
}
#navbar__container {
  width: 100%;
  height: 70px;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
}

/*Navbar Logo and Text*/
.navbar__logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__logo__image {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.navbar__logo__text {
  display: none;
}

/*Navbar List Items*/
.navbar__list {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  margin-right: 10px;
}
.navbar__list__items {
  list-style: none;
}
.navbar__list__items a {
  font-size: 0.7rem;
  font-weight: 800;
  text-decoration: none;
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
  padding: 5px 7px;
  color: var(--secondary-color);
}

/*main section */
.main__container {
  width: 100%;
  display: flex;
  margin-top: 15px;
  flex-direction: column;
}
.cakes__type__list {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 150px; */
}
.cake__types {
  text-align: center;
}
.cake__types a {
  text-decoration: none;
  color: var(--secondary-color);
}
.cake__types h1 {
  font-size: 0.8rem;
  color: var(--secondary-color);
}
.cake__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.cake__main__content {
  height: 50vh;
  /* width: 80%; */
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cake__main__image {
  height: 200px;
  width: 200px;
}
.cake__main__image__container {
  position: relative;
  z-index: 10;
}
.cake__main__image__container::before {
  content: "";
  position: absolute;
  padding: 10px;
  height: 100%;
  width: 100%;
  top: 50px;
  z-index: -1;
  background-image: linear-gradient(60deg, #c0392b, #8e44ad);
  transform: skew(-10deg);
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}
