* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-color: #fcf6f5ff;
  --secondary-color: #2e3192;
  --main-font: "Montserrat", sans-serif;
}
body {
  font-family: var(--main-font);
  background-color: var(--main-color);
}
#header {
  position: sticky;
  top: 0px;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.158);
  height: 70px;
}
/*Navbar Logo and Text-------------------------------------------------------------------------------*/
#navbar__container {
  width: 100%;
  height: 70px;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
}
.navbar__logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__logo__image {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.navbar__logo__text {
  display: none;
}

/*Navbar List Items*/
.navbar__list {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  margin-right: 10px;
}
.navbar__list__items {
  list-style: none;
}
.navbar__list__items a {
  font-size: 0.7rem;
  font-weight: 800;
  text-decoration: none;
  padding: 5px 7px;
  color: var(--secondary-color);
}
.navbar__cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__cart img {
  width: 15px;
  height: 15px;
}

/*main section ------------------------------------------------------------------------*/
.main__container {
  width: 100%;
  display: flex;
  margin-top: 15px;
  flex-direction: column;
}
.cakes__type__list {
  width: 95%;
  margin: auto;
  display: flex;
  padding: 10px;
  background-image: linear-gradient(
    45deg,
    rgba(238, 130, 238, 0.658),
    rgba(255, 0, 0, 0.527)
  );
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
}
.cake__types {
  text-align: center;
}
.cake__types a {
  text-decoration: none;
  color: var(--secondary-color);
}
.cake__types h1 {
  font-size: 0.8rem;
  color: var(--secondary-color);
}
.cake__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.cake__main__content {
  height: 50vh;
  width: 95%;
  margin: auto;
  padding: 10px;
  position: relative;
  margin-top: 1.5rem;
  z-index: 10;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__content__heading {
  color: white;
  font-size: 2rem;
  margin-bottom: 10px;
  background: -webkit-linear-gradient(45deg, rgb(255, 208, 0), rgb(68, 218, 9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main__content__para {
  color: white;
  font-weight: bold;
  line-height: 2;
}
.main__content__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10%;
}
.main__content__button p {
  color: white;
  margin-left: 3px;
}
.main__button {
  border: none;
}
.main__button a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
  background-image: linear-gradient(45deg, rgb(255, 208, 0), rgb(68, 218, 9));
  padding: 5px 7px;
  border-radius: 5px;
}
.cake__main__content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-image: url(./Assets/main-back.jfif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(40%);
  z-index: -1;
  border-radius: 5px;
}

/* Main Birthday cakes section----------------------------------------------------------------------------- */

#main__birthday__cake {
  width: 95%;
  margin: auto;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
}
.cake__heading {
  text-align: center;
}
.cake__container {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
}
.cake__card {
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  background-image: linear-gradient(
    45deg,
    rgba(238, 130, 238, 0.658),
    rgba(255, 0, 0, 0.527)
  );
  border-radius: 5px;
}
.card__image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
.card__image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.card__content {
  width: 100%;
  height: 100px;
  flex-basis: 250px;
  margin-left: 5px;
  position: relative;
}
.cake__stars {
  font-size: 0.6rem;
  font-weight: bold;
  /* color: red; */
  display: inline-block;
  padding: 5px;
  color: black;
  border-radius: 5px;
  font-size: 0.4rem;
  /* font-weight: normal; */
  background-image: linear-gradient(45deg, rgb(255, 208, 0), rgb(68, 218, 9));
}
.cake__name {
  font-size: 17px;
  font-weight: normal;
}
.cake__buy {
  width: 140px;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.cake__buying__button {
  padding: 5px 7px;
  font-size: 0.7rem;
  background-image: linear-gradient(45deg, rgb(240, 187, 89), rgb(250, 163, 2));
  color: black;
  border: none;
  border-radius: 90px;
  transition: all 0.3s;
}

/* Main Annivarsary cakes ----------------------------------- */
#main__annivarsary__cake {
  width: 95%;
  margin: auto;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
}

.cake__size label {
  font-size: 0.7rem;
}
.cake__size select {
  background-image: linear-gradient(45deg, rgb(240, 187, 89), rgb(250, 163, 2));
  font-size: 0.7rem;
  outline: none;
  border: none;
  padding: 2px;
  border-radius: 5px;
}
#main__Kids__cake {
  width: 95%;
  margin: auto;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
}
#main__missyou__cake {
  width: 95%;
  margin: auto;
  /* border: 1px solid red; */
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
}
/* Contact section----------------------------------------------------------- */

#contact {
  width: 95%;
  margin: auto;
  background-image: url(./Assets/main-back.jfif);
  background-size: cover;
  background-position: center;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
}

.main__contact__wrapper {
  border-radius: 5px;
  z-index: 20;
  position: relative;
}
.main__contact__wrapper::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.123);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: -1;
}

.contact__heading {
  text-align: center;
}
.contact__heading h1 {
  background: -webkit-linear-gradient(45deg, rgb(255, 208, 0), rgb(68, 218, 9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 1000;
}

.contact__heading p {
  color: white;
}
.contact__form form {
  height: 280px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contact__form form input,
.contact__form form textarea {
  margin: 10px 0 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 0.5px solid greenyellow;
}

footer {
  height: 150px;
  background-color: #5c59fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
}
.footer__text h3 {
  color: white;
  font-size: 16px;
}
.footer__socials {
  width: 300px;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer__socials img {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 620px) {
  .navbar__list {
    width: 400px;
  }
  .navbar__list__items a {
    font-size: 1rem;
  }
  .cakes__type__list {
    justify-content: center;
  }
  .cake__types {
    margin: 0 20px 0 20px;
  }
  .main__content__heading {
    font-size: 2.5rem;
  }
  .cake__container {
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-around;
  }
  .cake__heading {
    text-align: left;
    margin-left: 20px;
    position: relative;
    display: inline-block;
  }
  .cake__heading::before {
    content: " ";
    position: absolute;
    width: 120%;
    height: 3px;
    border-radius: 50px;
    bottom: 0px;
    background-color: blue;
  }
  .cake__card {
    width: 45%;
  }
  .cake__name {
    font-size: 12.5px;
    font-weight: bold;
  }
  .card__image {
    width: 150px;
  }
  .contact__form form {
    padding: 10px;
  }
  .main__contact__wrapper::before {
    background-image: linear-gradient(
      75deg,
      rgba(255, 255, 255, 0.027),
      rgba(128, 128, 128, 0.027)
    );
    border: 0.5px solid rgba(255, 255, 255, 0.062);
  }
}

@media screen and (min-width: 1200px) {
  .cake__container {
    justify-content: space-evenly;
    /* align-items: center; */
    margin: auto;
    margin-bottom: 20px;
    width: 80%;
    margin: auto;
    /* border: 1px solid red; */
  }
  .cake__card {
    box-shadow: none;
    height: 400px;
    width: 350px;
    background-image: none;
    transition: all 0.5s;
    flex-direction: column;
    border-radius: 20px;
    /* border: 1px solid black; */
    padding: 10px;
    margin-bottom: 20px;
  }
  .cake__card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
    transition: all 0.5s;
  }
  .cake__heading {
    text-align: left;
    margin-left: 20px;
    position: relative;
    display: inline-block;
  }
  .cake__heading::before {
    content: " ";
    position: absolute;
    width: 120%;
    height: 3px;
    border-radius: 50px;
    bottom: 0px;
    background-color: blue;
  }
  .card__image {
    width: 100%;
    height: 250px;
  }

  .card__image img {
    width: 100%;
    height: 250px;
    opacity: 0.9;
    transition: all 0.1s;
    border-radius: 20px;
  }

  .cake__card:hover img {
    opacity: 1;
    transition: all 0.1s;
  }
  .card__content {
    text-align: center;
  }
  .card__content h1 {
    position: absolute;
    top: 10px;
    font-size: 1rem;
    font-weight: normal;
    text-align: left;
  }
  .card__content h6 {
    position: absolute;
    right: 0;
    top: 40px;
    font-size: 12px;
    /* font-weight: normal; */
  }
  .cake__stars {
    display: inline-block;
    padding: 5px;
    color: black;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 0.6rem;
    position: absolute;
    right: 0;
    top: 5px;
    /* font-weight: normal; */
    background-image: linear-gradient(45deg, rgb(255, 208, 0), rgb(68, 218, 9));
  }
  .cake__buy {
    width: 100%;
    margin: auto;
    /* border: 1px solid red; */
    justify-content: space-evenly;
  }
  .cake__buy {
    border-top: 1px solid rgba(128, 128, 128, 0.158);
    padding-top: 10px;
  }
  .cake__buy button {
    font-size: 0.7rem;
    position: relative;
    margin-bottom: 10px;
    transition: all 0.6s;
    border-radius: 5px;
  }
  .cake__size {
    margin-top: 5px;
    position: absolute;
    top: 40px;
    /* display: none; */
  }
  .cake__size label {
    font-weight: bolder;
  }

  .cake__buy button:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.356);
    background-image: linear-gradient(
      45deg,
      rgba(240, 187, 89, 0.466),
      rgba(250, 163, 2, 0.39)
    );
    top: -3px;
    transition: all 0.6s;
    cursor: pointer;
  }
  .cake__main__content {
    height: 60vh;
  }
  .cake__main__content::after {
    background-size: cover;
    background-position: center;
  }
  .main__content__heading {
    user-select: none;
    font-size: 4rem;
  }
  .main__content__para {
    user-select: none;
    font-size: 1.5rem;
  }
  .main__button a {
    font-size: 1.2rem;
  }
  .contact__heading h1 {
    font-size: 3rem;
  }
  .contact__form form input,
  .contact__form form textarea {
    width: 400px;
  }
  .contact__form form input::placeholder,
  .contact__form form textarea::placeholder {
    text-align: center;
    color: blue;
  }
  .message {
    font-size: 1rem;
  }
  .card__image {
    position: relative;
  }
  .card__image::before {
    content: "Sale";
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 10px; */
    width: 50px;
    height: 30px;
    background-color: red;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 21;
  }

  .cake__image {
    width: 250px;
    height: 170px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .cake__image:hover {
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.479);
    transition: all 0.3s ease;
  }
  .navbar__list__items a {
    /* border: 1px solid red; */
    border-radius: 5px;
    display: block;
    position: relative;
    z-index: 10;
  }
  .navbar__list__items a::before {
    content: " ";
    width: 0%;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.658);
    border-radius: 5px;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    transition: all 0.5s ease;
  }
  .navbar__list__items a:hover::before {
    width: 100%;
    transition: all 0.5s ease;
  }

  .cake__heading h1 {
    background: -webkit-linear-gradient(
      45deg,
      rgb(255, 208, 0),
      rgb(68, 218, 9)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  #main__birthday__cake {
    box-shadow: none;
    transition: all 0.5s;
    margin-top: 80px;
    background-color: #fff;
  }

  #main__annivarsary__cake {
    box-shadow: none;
    transition: all 0.5s;
    margin-top: 80px;
    background-color: #fff;
  }

  #main__Kids__cake {
    box-shadow: none;
    transition: all 0.5s;
    margin-top: 80px;
    background-color: #fff;
  }

  #main__missyou__cake {
    box-shadow: none;
    transition: all 0.5s;
    margin-top: 80px;
    background-color: #fff;
  }
}
